

body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

logo {
	text-align: center;
}

div.leftMenu{
	float:left;
	background-color: black;
	height: 100%;
	color:white;
}	

ul.menu{
	padding-left: 10px;
}


ul.menu li a:hover{
	color: white;
	font-style: normal;
	text-decoration: underline;
}

ul.menu li a{
	color: white;
	font-style: normal;
	text-decoration: none;
}

ul.menu li a:focus{
	color: white;
	font-style: normal;
	text-decoration: none;
}

ul.menu li a:visited{
	color: white;
	font-style: normal;
	text-decoration: none;
}	