
body{
	
	margin: 10 10 10 10;
	padding: 0 0 0 0;
	background-color: #f1f1f1;
}

body#menu{
	margin: 10 10 10 10;
	padding: 0 0 0 0;
	background-color: #efefef;
}

h1#title{
	color:#FFFFFF;
}


a:link {text-decoration: none; color: #3399FF;}
a:visited {text-decoration: none; color: #3399FF;}
a:active {text-decoration: none; color: #3399FF;}
a:hover {text-decoration: none; color: #FF47A3;}


div#leftMenu{
	float:left;
	background-color: black;
	height: 100%;
	width: 200px;
	position: fixed;
	color:white;
}

div#content{
	position: relative;
	margin-left: 220px;
	margin-right: 20px
}

.dragBox {
	width:100%;
	height:auto;
	border: 2px dashed  #7C7F7F;
	background-color:#CCCCCC;

	vertical-align: middle;	
	font-weight: bold;
	border-radius: 7px;
	margin-top:10px;
}


.optionBox {
	width:100%;
	height:auto;
	border: 1px none  #7C7F7F;
	background-color:#CCCCCC;

	vertical-align: middle;	
	border-radius: 5px;
	margin-top:5px;
}

.dragBoxHover {
	width:100%;
	height:auto;
	border: 2px dashed  #0066FF;
	background-color:#66CCFF;

	vertical-align: middle;	
	font-weight: bold;
	border-radius: 7px;
	margin-top:10px;
}

.thumb {
	height: 75px;
	border: 2px solid #000;
	margin: 5px 5px 5px 5px;
	cursor: pointer
}

.thumb:hover {
	height: 75px;
	border: 2px solid #FF88FF;
	margin: 5px 5px 5px 5px;
	cursor: pointer
}


.thumbSelected {
	height: 75px;
	border: 2px solid #0066FF;
	margin: 5px 5px 5px 5px;
	cursor: pointer
}

.centerP {
	text-align:center;
	font-size:20pt;		
	color:#FFFFFF
}

.scr {
	border: 1px solid #000000;
	background-image: url("http://i.imgur.com/FsfLnJx.png");
	background-repeat: repeat;
	z-index: -1;
	margin-top:5px;
}

h1{
	margin-bottom:0px;
	margin-top:0px;
	font-family: "Nanum Gothic", sans-serif;
	font-size:40px;
}

li,ol{
	font-size:12px;
	margin-bottom:0px;
	margin-top:5px;
	font-family: "Nanum Gothic", sans-serif;
}

#colorLabel{
	width:100px;
}

p.bottom{
	color:#AAAAAA;
	font-size:11px;
	margin-bottom:0px;
	margin-top:20px;
	font-family: "Nanum Gothic", sans-serif;
}

.progress{
	color:blue;
	font-size:30px;
	font-weight: bold;
}

span.resultBox{
	border: 1px solid #000000;
	font-size:11px;
	font-family: "Nanum Gothic", sans-serif;
}

div#grayBar{
	background: -webkit-linear-gradient(left, rgb(0, 0, 0), rgb(255, 255, 255) 100%);
	width:400px;
	height:10px;
}




h1.logo {
	text-align: center;
}


ul.menu{
	padding-left: 10px;
	list-style-type: none;
}


ul.menu li{
	color: white;
	font-style: normal;
	cursor:pointer;
}

.menuHover{
	color: white;
	font-style: normal;
	text-decoration: underline;
}



a.twitter-share-button,
a.twitter-mention-button,
a.twitter-hashtag-button {
  display: inline-block;
  padding: 1px 3px 0 19px;
  border: #ccc solid 1px;
  border-radius: 3px;
  background: #f8f8f8 url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat;
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              -webkit-linear-gradient(#fff, #dedede);
  background: url(//platform.twitter.com/images/bird.png) 2px 3px no-repeat,
              linear-gradient(#fff, #dedede);
  background-size: 16px 13px, auto auto;
 
  /* Text */
    font: bold 11px/17px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  white-space: nowrap;
}
 
/* Color Highlight for keyboard navigation */
a.twitter-share-button:focus,
a.twitter-mention-button:focus,
a.twitter-hashtag-button:focus {
  outline: none;
  border-color: #0089cb;
}

