

body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h1.logo {
	text-align: center;
}

div.leftMenu{
	float:left;
	background-color: black;
	height: 100%;
	color:white;
	padding: 10px 10px 10px 10px;
}	

ul.menu{
	padding-left: 10px;
	list-style-type: none;
}


ul.menu li{
	color: white;
	font-style: normal;
	text-decoration: none;
}

.menuHover{
	color: white;
	font-style: normal;
	text-decoration: underline;
	font-weight: bold;
}